---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=&maxResults=5&q=inauthor:Tanenbaum&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/1AGcyeHw0mi_j7db80tfWqcdoWs"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 356,
         "items": [
          {
           "kind": "books#volume",
           "id": "0tjB8FbV590C",
           "etag": "RAlhex+Cnss",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/0tjB8FbV590C",
           "volumeInfo": {
            "title": "Redes de computadores",
            "authors": [
             "Andrew S. Tanenbaum"
            ],
            "publisher": "Elsevier Brasil",
            "publishedDate": "2003",
            "description": "'Redes de computadores' foi atualizado para refletir as tecnologias mais novas e mais importantes de redes, com ênfase especial em redes sem fio, incluindo 802.11, Bluetooth, comunicação sem fio de banda larga, redes ad hoc, i-mode e WAP. Porém, as redes fixas não foram ignoradas com cobertura de ADSL, Internet via cabo, Ethernet de gigabit, redes não-hierárquicas, NAT e MPLS.",
            "industryIdentifiers": [
             {
              "type": "ISBN_10",
              "identifier": "8535211853"
             },
             {
              "type": "ISBN_13",
              "identifier": "9788535211856"
             }
            ],
            "readingModes": {
             "text": false,
             "image": true
            },
            "pageCount": 945,
            "printType": "BOOK",
            "averageRating": 4.5,
            "ratingsCount": 5,
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "1.1.1.0.preview.1",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com.br/books/content?id=0tjB8FbV590C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com.br/books/content?id=0tjB8FbV590C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "pt",
            "previewLink": "http://books.google.com.br/books?id=0tjB8FbV590C&printsec=frontcover&dq=inauthor:Tanenbaum&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com.br/books?id=0tjB8FbV590C&dq=inauthor:Tanenbaum&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com.br/books/about/Redes_de_computadores.html?hl=&id=0tjB8FbV590C"
           },
           "saleInfo": {
            "country": "BR",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "BR",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com.br/books/reader?id=0tjB8FbV590C&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "&#39;Redes de computadores&#39; foi atualizado para refletir as tecnologias mais novas e mais importantes de redes, com ênfase especial em redes sem fio, incluindo 802.11, Bluetooth, comunicação sem fio de banda larga, redes ad hoc, i-mode e WAP ..."
           }
          },
          {
           "kind": "books#volume",
           "id": "Z5sCbDRUBaQC",
           "etag": "S8C/+Kivqqc",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/Z5sCbDRUBaQC",
           "volumeInfo":[...]
