---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=&maxResults=5&q=intitle:Darth%20Vader&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/N1cLGbUBMufuEOOUkqJStWENU2U"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 172,
         "items": [
          {
           "kind": "books#volume",
           "id": "jt9iMThzDGQC",
           "etag": "7qwNm+XV2xU",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/jt9iMThzDGQC",
           "volumeInfo": {
            "title": "Darth Vader",
            "subtitle": "A 3-D Reconstruction Log",
            "authors": [
             "Inc. Scholastic",
             "Daniel Wallace"
            ],
            "publisher": "Scholastic Inc.",
            "publishedDate": "2011",
            "description": "Describes the transformation of the man Anakin Skywalker into Darth Vader, the cyborg lieutenant of the emperor, revealing the technology that keeps him alive. On board pages.",
            "industryIdentifiers": [
             {
              "type": "ISBN_13",
              "identifier": "9780545312158"
             },
             {
              "type": "ISBN_10",
              "identifier": "0545312159"
             }
            ],
            "readingModes": {
             "text": false,
             "image": true
            },
            "pageCount": 24,
            "printType": "BOOK",
            "categories": [
             "Juvenile Fiction"
            ],
            "averageRating": 3.5,
            "ratingsCount": 5,
            "maturityRating": "NOT_MATURE",
            "allowAnonLogging": false,
            "contentVersion": "preview-1.0.0",
            "imageLinks": {
             "smallThumbnail": "http://books.google.com.br/books/content?id=jt9iMThzDGQC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
             "thumbnail": "http://books.google.com.br/books/content?id=jt9iMThzDGQC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
            },
            "language": "en",
            "previewLink": "http://books.google.com.br/books?id=jt9iMThzDGQC&printsec=frontcover&dq=intitle:Darth+Vader&hl=&cd=1&source=gbs_api",
            "infoLink": "http://books.google.com.br/books?id=jt9iMThzDGQC&dq=intitle:Darth+Vader&hl=&source=gbs_api",
            "canonicalVolumeLink": "http://books.google.com.br/books/about/Darth_Vader.html?hl=&id=jt9iMThzDGQC"
           },
           "saleInfo": {
            "country": "BR",
            "saleability": "NOT_FOR_SALE",
            "isEbook": false
           },
           "accessInfo": {
            "country": "BR",
            "viewability": "PARTIAL",
            "embeddable": true,
            "publicDomain": false,
            "textToSpeechPermission": "ALLOWED_FOR_ACCESSIBILITY",
            "epub": {
             "isAvailable": false
            },
            "pdf": {
             "isAvailable": false
            },
            "webReaderLink": "http://books.google.com.br/books/reader?id=jt9iMThzDGQC&hl=&printsec=frontcover&output=reader&source=gbs_api",
            "accessViewStatus": "SAMPLE",
            "quoteSharingAllowed": false
           },
           "searchInfo": {
            "textSnippet": "Describes the transformation of the man Anakin Skywalker into Darth Vader, the cyborg lieutenant of the emperor, revealing the technology that keeps him alive. On board pages."
           }
          },
          {
           "kind": "books#volume",
           "id": "FwRN1bYbLWUC",
           "etag": "xxQCe19F8C0",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/FwRN1bYbLWUC",
           "volumeInfo": {
            "title": "Star Wars®: The Rise and Fall of Darth Vader",
  [...]
