---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes?country=&maxResults=5&q=isbn:0387493336&startIndex=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"AEqHJ39cYOcHij976IZqD9LCWzE/wRd9ALwQBaNtNhWJnh5UfSSatwI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "books#volumes",
         "totalItems": 1,
         "items": [
          {
           "kind": "books#volume",
           "id": "g9_iebhkbNcC",
           "etag": "XQ41kybiWBM",
           "selfLink": "https://www.googleapis.com/books/v1/volumes/g9_iebhkbNcC",
           "volumeInfo": {
            "title": "Computer Algebra Recipes",
            "subtitle": "An Advanced Guide to Scientific Modeling",
            "authors": [
             "Richard H. Enns",
             "George C. McGuire"
            ],
            "publisher": "Springer Science & Business Media",
            "publishedDate": "2007-12-31",
            "description": "Modern computer algebra systems are revolutionizing the teaching and learning of mathematically intensive subjects in science and engineering, enabling students to explore increasingly complex and computationally intensive models that provide analytic solutions, animated numerical solutions, and complex two- and three-dimensional graphic displays.This self-contained text benefits from a spiral structure that regularly revisits the general topics of graphics, symbolic computation, and numerical[...]
