<div class="jumbotron">
  <h1>Books App</h1>
  <p class="lead">"Busquem conhecimento", Bilu, Et.</p>
</div>

<div class="row marketing">
  <% @books.in_groups_of(3).each do |books| %>
    <div class="row">
      <% books.reject(&:nil?).each do |book| %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= image_tag 'http://placehold.it/115x180.png', alt: book %>
            <div class="caption">
              <h3><%= book %></h3>
              <p><%= book.authors %>.</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
